<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon"
        type="image/png"
        href="/icon.png">

  <title>{{ page.title }}</title>
  <meta name="author" content="Jesse Yates" />
  <meta name="keywords" content="{{ page.tags }}"/>
	<!-- Pull in page description to a meta-tag -->
  <meta name="description" content="{{ page.excerpt | strip_html | strip_newlines }}" />
  <link rel="alternate" type="application/rss+xml" title="Jesse Yates's Blog" href="http://jyates.github.com/atom.xml" />

  <!-- Bootstrap stuff -->
  <!-- Bootstrap Core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="/css/blog-post.css" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <!-- /Bootstrap stuff -->

  <!-- syntax highlighting CSS -->
  <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

  <!-- Google Analytics -->
  <script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-27060528-1']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
  </script>
</head>
<body>

  <!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a style="margin-top: 6px;" class="navbar-brand" href="/">Home</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li>
            <a class="blog-nav-link-ref" href="https://www.linkedin.com/in/jesse-yates-7805623a/" target="_blank">
              <img class="blog-img-nav-link" src="/images/linkedin.png" alt="Find jesse on linkedin" />
            </a>
          </li>
          <li>
            <!--<div class="container navbar-btn">-->
            <a class="blog-nav-link-ref" href="http://twitter.com/#!/jesse_yates" target="_blank">
              <img class="blog-img-nav-link" src="/images/twitter.png" alt="Follow @jesse_yates on twitter" />
            </a>
            <!--</div>-->
          </li>
          <li>
            <a class="blog-nav-link-ref" href="http://github.com/jyates" target="_blank">
              <img class="blog-img-nav-link" src="/images/github.png" alt="Follow @jyates on github" />
            </a>
          </li>
          <li>
            <a class="blog-nav-link-ref" href="mailto:jesse@jesseyates.com?Subject=Found your website" target="_top" target="_blank">
              <img class="blog-img-nav-link" src="/images/contact.png" alt="Email jesse" />
            </a>
          </li>
          <li>
            <a class="blog-nav-link-ref" href="http://jyates.github.com/atom.xml" target="_top" target="_blank">
              <img class="blog-img-nav-link" src="/images/rss.png" alt="Follow the blog on rss" />
            </a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>

  <div class="container">
    <div class="row">
      {{ content }}
    </div>
  </div>
  <!-- Footer -->
  <footer>
    <div class="row">
      <div class="col-lg-12" align="center">
        <p>Creative Commons License &copy; jesseyates.com 2020</p>
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/3.0/">
          <img id="creative-commons" class="aligncenter" alt="Creative Commons License" src="http://i.creativecommons.org/l/by-nc-nd/3.0/88x31.png"/>
        </a>
      </div>
    </div>
    <!-- /.row -->
  </footer>

  <!-- jQuery -->
  <script src="https://jesseyates.com/js/jquery.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="https://jesseyates.com/js/bootstrap.min.js"></script>
</body>
</html>
